
WebApplication1/.vs/config/applicationhost.config
WebApplication1/.vs/WebApplication1/v15/.suo
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/storage.ide
WebApplication1/.vs/WebApplication1/v15/Server/sqlite3/db.lock
WebApplication1/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
WebApplication1/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
WebApplication1/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
WebApplication1/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
WebApplication1/packages/bootstrap.3.0.0/content/Content/bootstrap.css
WebApplication1/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
*.force
WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.dll
*.ide-shm
*.nupkg
*.rtf
*.pdb
WebApplication1/WebApplication1/bin/ApplicationInsights.config
WebApplication1/WebApplication1/bin/Microsoft.AI.DependencyCollector.xml
WebApplication1/WebApplication1/bin/Microsoft.AI.ServerTelemetryChannel.xml
WebApplication1/WebApplication1/bin/Microsoft.AI.Web.xml
WebApplication1/WebApplication1/bin/Microsoft.AI.WindowsServer.xml
WebApplication1/WebApplication1/bin/Microsoft.ApplicationInsights.xml
WebApplication1/WebApplication1/bin/Newtonsoft.Json.xml
WebApplication1/WebApplication1/bin/roslyn/csc.exe
WebApplication1/WebApplication1/bin/roslyn/csc.exe.config
WebApplication1/WebApplication1/bin/roslyn/csc.rsp
WebApplication1/WebApplication1/bin/roslyn/csi.exe
WebApplication1/WebApplication1/bin/roslyn/csi.exe.config
WebApplication1/WebApplication1/bin/roslyn/csi.rsp
WebApplication1/WebApplication1/bin/roslyn/Microsoft.CSharp.Core.targets
WebApplication1/WebApplication1/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebApplication1/WebApplication1/bin/roslyn/vbc.exe
WebApplication1/WebApplication1/bin/roslyn/vbc.exe.config
*.rsp
*.exe
WebApplication1/WebApplication1/bin/roslyn/VBCSCompiler.exe.config
WebApplication1/WebApplication1/bin/System.Web.Helpers.xml
WebApplication1/WebApplication1/bin/System.Web.Mvc.xml
WebApplication1/WebApplication1/bin/System.Web.Optimization.xml
WebApplication1/WebApplication1/bin/System.Web.Razor.xml
WebApplication1/WebApplication1/bin/System.Web.WebPages.Deployment.xml
WebApplication1/WebApplication1/bin/System.Web.WebPages.Razor.xml
WebApplication1/WebApplication1/bin/System.Web.WebPages.xml
WebApplication1/WebApplication1/bin/WebApplication1.dll.config
WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/WebApplication1/obj/Debug/WebApplication1.csproj.CopyComplete
WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication1/WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
